<div class="game-board" data-role="<%= controller_name %>#<%= action_name %>">
  <div class="game-board__info">
    <p>This is game # <%= @game.id %></p>
    <p class="player1-name">Player1 is <%= @player1.name %> as X</p>
    <p class="player2-name">Player2 is <%= @player2.name %> as O</p>
  </div>
  <table>
    <tr class="game-board__row">
      <td class="game-board__cell"></td>
      <td class="game-board__cell"></td>
      <td class="game-board__cell"></td>
    </tr>
    <tr class="game-board__row">
      <td class="game-board__cell"></td>
      <td class="game-board__cell"></td>
      <td class="game-board__cell"></td>
    </tr>
    <tr class="game-board__row">
      <td class="game-board__cell"></td>
      <td class="game-board__cell"></td>
      <td class="game-board__cell"></td>
    </tr>
  </table>
</div>
